<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bollywood Movie Recommendation</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Bollywood Movie Recommendation System</h1>

        <form id="movieForm" class="mt-4">
            <div class="form-group">
                <label for="movieSelect">Select a Movie:</label>
        <select class="form-control" id="movieSelect" name="movie">
            <option disabled selected>Choose a movie</option>
            {% for movie in movie_titles %}
            <option value="{{movie}}">{{movie}}</option>
            {% endfor %}
        </select>   </div>
        <button type="submit" class="btn btn-primary">Get Recommendations</button>
        </form>

        <div id="recommendations" class="row mt-4"></div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#movieForm').on('submit', function(e){
                e.preventDefault();
    const movie = $('#movieSelect').val();
                $.post('/recommend', {movie}, function(data){
                    const recommendations = data.map(movie =>`
                    <div class="col-md-4 mt-3">
                        <div class="card">
                            <img src="../static/${movie.poster}" class="card-img-top" alt="${movie.title}">
                            <div class="card-body">
                                <h5 class="card-title">${movie.title}</h5>
                    <p><strong>Genre:</strong>${movie.genre}</p>
                    <p><strong>Director:</strong>${movie.director}</p>
                    <p><strong>Actors:</strong>${movie.actors}</p>
                        </div>  </div>  </div>
                    `)
                    $('#recommendations').html(recommendations.join(''));
                });     });     });
    </script>
</body>
</html>